html {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
}


/* Left stuff  */

.left-elements-box {
    flex: 1 1 360px;
    display: flex;
    justify-content: center;

}

.left-elements {    
    min-width: 260px;
    padding: 16px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.button {
    width: 100px;
    height: 36px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rgbOn {
    background: linear-gradient(to right, #ff3b76, #9f6cf7, #26c6da, #eeff41, #ff5722);
}

.greyOn {
    background: lightgrey;
}

/* Drawing pad */

#container {
    border: 1px solid black;
    width: 900px;
    height: 900px;
}

.row {
    display: flex;
}

.colored {
    background-color: black;
}


/* Right stuff */

.right-padding {
    height: 100%;
    width: 300px;
    flex: 1 1 20px;
}